<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="vacancy_test1">
        <parameter name="filePath" value="D:\HW.class"/>
        <parameter name="site" value="http://mail.ru"/>
        <parameter name="login" value="luisfigo_10"/>
        <parameter name="password" value="realmadrid"/>
        <parameter name="destinationEmail" value="figourist@mail.ru"/>
        <classes>
            <class name="ru.comp.AppTest">
                <methods>

                </methods>
            </class> <!-- ru.comp.TestApp -->
        </classes>
    </test> <!-- vacancy_test1 -->
</suite> <!-- Default Suite -->